@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cl-rootBox,
.cl-signIn-root,
.cl-internal-phfxlr,
.cl-card {
  font-size: 14px;
  text-transform: none;
  background-color: rgb(30 41 59);
  box-shadow: none;
  padding: 1;
}

.cl-internal-b3fm6y,
.cl-headerSubtitle {
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: rgb(15 23 42);
}

.cl-footerActionLink {
  color: white;
  text-decoration: underline;
}

.cl-footerActionLink:hover {
  color: lightgray;
}
